

body {
	margin: 0 auto;
	background-color: black;
}

.fullscreen {
	height: 800px;
	position: relative;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*NAVIGATION BAR*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: #FFFFFF;
	opacity: 0.75;
}

nav a {
	display: block;
	margin-left: 9%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

#space-here {
	margin-right: 23%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*HEADER*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	filter: grayscale(100%);
}

#art {
	color: red;
	z-index: 21;
}

#page-title {
	overflow: hidden;
}

/*.curl {
	width:120px;
	height:120px;
	position: absolute;
	top:0;
	left:0;
	background : 
		linear-gradient(
			135deg, 
			#fff, 
			#f3f3f3 45%, 
			#ddd 50%, 
			#aaa 50%, 
			#bbb 56%, 
			#ccc 62%, 
			#f3f3f3 80%,
			#fff 100%
		);
	box-shadow : 0 0 10px rgba(0, 0, 0, .5);
	transition: all .5s ease;
}
.curl:before,
.curl:after {
	content: '';
	position: absolute;
	z-index: 2;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
	transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotate(-84deg);
}

.curl:hover {
	width: 240px;
	height: 240px;
}
.curl:hover:before,
.curl:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*HOME BUTTON*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#keyhole {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	height: 25%;
	width: 15%;
	border: none;
	outline: none;
	background-image: url(../images/icons/keyhole.jpg);
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*FOOTER*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*FONT STYLES*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1, h2 {
	position: relative;
	text-align: center;
	color: white;
	z-index: 20;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	width: 340px;
	margin: auto;
	margin-top: 70px;
}










