
* {
	font-family: 'Fjalla One', sans-serif;
	-webkit-font-smoothing: antialiased;
}


body {
	margin: 0 auto;
	background-color: #9E9E9E;
	position: relative;
}

.fullscreen {
	min-height: 800px;
	position: relative;
	overflow: hidden;
}

hr {
	width: 60%;
	border: .5px solid #D3D3D3;
	margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*NAVIGATION BAR*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 98;

}

.hidden-nav a {
	display: inline-block;
	height: 100%;
	line-height: 50px;
	width: 16.4%;
	text-align: center;
	border-right: 1px solid black;
	color: black;
}

#home-button {
	border-right: none;
	height: 50px;
	line-height: 50px;
	width: 14.6%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	position: fixed;
	top: 0;
	right: 0;
}

#keyhole {
	width: 17%;
}

.hidden-nav {
	width: 85.4%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	-webkit-transform: translateX(140%);
	        transform: translateX(140%);
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.hi-nav {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*HEADER*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}


#page-title {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

#art {
	font-family: 'Kalam', cursive;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.indigo {
	color: indigo;
}

.violet {
	color: violet;
}

.white {
	color: white;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*MODAL WINDOW*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modal-background {
  	padding-top: 50px;
  	background-color: rgba(0, 0, 0, .5);
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	right: 0;
  	left: 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	z-index: 100;
}

  .modal-content {
  	position: relative;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	padding: 40px 20px;
  	color: #444;
  	background-color: white;
  	width: 40%;
}

#close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
  	font-size: .85em;
  	font-weight: 600;
  	padding: 10px 15px;
  	cursor: pointer;
  	color: #fff;
  	border: none;
  	border-radius: 3px;
  	outline: none;
  	background-color: #40413E;
}

.modal-content h3 {
	position: absolute;
	top: 0;
	margin: 15px 0 0 0;
}

.modal-content p {
	position: absolute;
	bottom: 0;
	margin: 0 0 15px 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*FOOTER*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
	position: relative;
	background-color: #40413E;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack:  center;
	    -ms-flex-pack:  center;
	        justify-content:  center;
}

footer p {
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: 'Cantarell', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*SCROLL BUTTONS*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.top-button {
	position: fixed;
	bottom: 5%;
	right: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	z-index: 100;
	border: none;
	color: white;
	background-color: transparent;
}

.fa-angle-double-up {
	font-size: 50px;
	display: block;
	text-decoration: none;
}

.top-button a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 17px;
}

.top-button a:active {
	text-decoration: none;
	color: gray;
}

.top-button a:hover{
	-webkit-animation-name: bounceUp;
	        animation-name: bounceUp;
	-webkit-animation-duration: .75s;
	        animation-duration: .75s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.down-arrow-wrapper {
	position: absolute;
	right: 50%;
	left: 50%;
	bottom: 18%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.up-arrow-wrapper {
	position: absolute;
	right: 50%;
	left: 50%;
	top: 6%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.scroll {
	font-size: 50px;
	color: white;
	padding: 15px;
	border-radius: 100px;
	border: 2px solid white;
}

.down:hover {
	background-color: gray;
	-webkit-animation-name: bounceDown;
	        animation-name: bounceDown;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@-webkit-keyframes bounceDown {
	0% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
	50% {-webkit-transform: translate(0%, 40%);transform: translate(0%, 40%);}
	100% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
}

@keyframes bounceDown {
	0% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
	50% {-webkit-transform: translate(0%, 40%);transform: translate(0%, 40%);}
	100% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
}

.up:hover {
	background-color: gray;
	-webkit-animation-name: bounceUp;
	        animation-name: bounceUp;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@-webkit-keyframes bounceUp {
	0% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
	50% {-webkit-transform: translate(0%, -40%);transform: translate(0%, -40%);}
	100% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
}

@keyframes bounceUp {
	0% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
	50% {-webkit-transform: translate(0%, -40%);transform: translate(0%, -40%);}
	100% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*FONT STYLES*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1, h2 {
	position: relative;
	text-align: center;
	z-index: 100;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	width: 340px;
	margin: auto;
	margin-top: 70px;
	color: white;
}

h2 {
	font-size: 40px;
	color: #171814;
}





