
* {
	font-family: 'Fjalla One', sans-serif;
	-webkit-font-smoothing: antialiased;
}


body {
	margin: 0 auto;
	background-color: #9E9E9E;
	position: relative;
}

.fullscreen {
	height: 800px;
	position: relative;
	overflow: hidden;
}

hr {
	width: 60%;
	border: .5px solid #D3D3D3;
	margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*NAVIGATION BAR*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 98;

}

.hidden-nav a {
	display: inline-block;
	height: 100%;
	line-height: 50px;
	width: 19.7%;
	text-align: center;
	border-right: 1px solid black;
	color: black;
}

#home-button {
	border-right: none;
	height: 50px;
	line-height: 50px;
	width: 16%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
	opacity: 0.75;
	position: fixed;
	top: 0;
	right: 0;
}

.hidden-nav {
	width: 84%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.75;
	transform: translateX(140%);
	transition: all 1s ease-in-out;
}

.hi-nav {
	transform: translateX(0);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*HEADER*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	filter: grayscale(100%);
}


#page-title {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
}

#art {
	color: red;
	font-family: 'Kalam', cursive;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*HOME BUTTON*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#keyhole {
	width: 17%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*FOOTER*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
	position: relative;
	background-color: #40413E;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content:  center;
}

footer p {
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: 'Cantarell', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*SCROLL BUTTONS*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.top-button {
	position: fixed;
	bottom: 5%;
	right: 5%;
	display: flex;
	justify-content: center;
	text-align: center;
	z-index: 100;
	border: none;
	color: white;
	background-color: transparent;
}

.fa-angle-double-up {
	font-size: 50px;
	display: block;
	text-decoration: none;
}

.top-button a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 17px;
}

.top-button a:active {
	text-decoration: none;
	color: gray;
}

.top-button a:hover{
	animation-name: bounceUp;
	animation-duration: .75s;
	animation-iteration-count: infinite;
	transition: all 0.3s ease-in-out;
}


.down-arrow-wrapper {
	position: absolute;
	right: 50%;
	left: 50%;
	bottom: 18%;
	display: flex;
	justify-content: center;
}

.up-arrow-wrapper {
	position: absolute;
	right: 50%;
	left: 50%;
	top: 6%;
	display: flex;
	justify-content: center;
}

.scroll {
	font-size: 50px;
	color: white;
	padding: 15px;
	border-radius: 100px;
	border: 2px solid white;
}

.down:hover {
	background-color: gray;
	animation-name: bounceDown;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transition: all 0.3s ease-in-out;
}

@keyframes bounceDown {
	0% {transform: translate(0%, 0%);}
	50% {transform: translate(0%, 40%);}
	100% {transform: translate(0%, 0%);}
}

.up:hover {
	background-color: gray;
	animation-name: bounceUp;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transition: all 0.3s ease-in-out;
}

@keyframes bounceUp {
	0% {transform: translate(0%, 0%);}
	50% {transform: translate(0%, -40%);}
	100% {transform: translate(0%, 0%);}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*FONT STYLES*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1, h2 {
	position: relative;
	text-align: center;
	color: white;
	z-index: 100;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	width: 340px;
	margin: auto;
	margin-top: 70px;
}







